include ../mixins
doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(content='text/html; charset=UTF-8' http-equiv='content-type')
    if title
      title #{title}
    else
      title necipsagiro.dev
    link(rel='icon' type='image/png' href='/static/img/favicon/favicon-16x16.png' sizes='16x16')
    link(rel='icon' type='image/png' href='/static/img/favicon/favicon-32x32.png' sizes='32x32')
    link(rel='icon' type='image/png' href='/static/img/favicon/android-chrome-192x192.png' sizes='192x192')
    link(rel='icon' type='image/png' href='/static/img/favicon/android-chrome-512x512.png' sizes='512x512')
    link(rel='apple-touch-icon' href='/static/img/favicon/apple-touch-icon.png' sizes='180x180')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400..800;1,400..800&display=swap')
    if includes
      if includes.css
        each file_name in includes.css
          if file_name == 'page'
            link(rel='stylesheet' href=`/static/css/${page}.css`)
          else
            link(rel='stylesheet' href=`/static/css/general/${file_name}.css`)
      if includes.js
        each file_name in includes.js
          if file_name == 'page'
            script(src=`/static/js/${page}.js`)
          else if file_name == 'cookie-api'
            script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js' integrity='sha256-WCzAhd2P6gRJF9Hv3oOOd+hFJi/QJbv+Azn4CGB8gfY=' crossorigin="anonymous")
          else
            script(src=`/static/js/functions/${file_name}.js`)
    if meta
      meta(property='og:type' content='website')
      if meta.author
        meta(name='author' content=meta.author)
      if meta.description
        meta(name='description' content=meta.description)
      if meta.image
        meta(property='og:image' content=url + meta.image)
        meta(property='og:image:secure_url' content=url + meta.image)
        meta(property='og:image:type' content='image/png')
        meta(property='og:image:alt' content=meta.description)
      if meta.keywords
        meta(name='keywords' content=meta.keywords)
      if meta.title
        meta(property='og:title' content=meta.title)
  body
    if page != 'index/index'
      a(href='/') <<
    h1 #{title}
    .general-separator
    block content
